/.FeaturePresenceCondition.java._trace
/.FeaturePresenceCondition.xtendbin
/.PresenceCondition.java._trace
/.PresenceCondition.xtendbin
/.ProxyPresenceCondition.java._trace
/.ProxyPresenceCondition.xtendbin
/FeaturePresenceCondition.java
/PresenceCondition.java
/ProxyPresenceCondition.java
