/.VBRuleFeature.java._trace
/.VBRuleFeature.xtendbin
/.VBRuleOrAlternative.java._trace
/.VBRuleOrAlternative.xtendbin
/.VBRuleOrFeature.java._trace
/.VBRuleOrFeature.xtendbin
/VBRuleFeature.java
/VBRuleOrAlternative.java
/VBRuleOrFeature.java
