<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mdeoptimiser4efm -->
      <package
            uri="http://www.example.org/mdeoptimiser4efm"
            class="acapulco.model.MDEOptimiser4EFMPackage"
            genModel="model/mdeoptimiser4efm.genmodel"/>
   </extension>

</plugin>
