<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="acapulco.featureide.objectContribution2"
            nameFilter="model.xml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="acapulco.featureide.actions.CreateFMAction"
               enablesFor="1"
               id="acapulco.featureide.action2"
               label="Transform to ACAPULCO EFM"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
