/.FinalisedOrImplication.java._trace
/.FinalisedOrImplication.xtendbin
/.OrImplication.java._trace
/.OrImplication.xtendbin
/.ProxyOrImplication.java._trace
/.ProxyOrImplication.xtendbin
/FinalisedOrImplication.java
/OrImplication.java
/ProxyOrImplication.java
